/* masthead */
.masthead {
    height: 60vh;
    min-height: 400px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }