.fotoShow{
    position: sticky;
    top: 150px;
}

.imgCastom{
    height: 250px;
}

.cardCustom{
    height: 700px;
}



/* carosello swiper */
.swiper {
    width: 100%;
    /* padding-top: 50px; */
    padding-bottom: 50px;
  }

  .swiper-slide {
    /* width: 50%; */
    background-position: center;
    background-size: cover;

  }

  .staff{
        width: 200px;
        border-radius: 50%;
        border: 5px solid #5456df;
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
  }

  .iconeStaff{
    font-size: xx-large;
  }